main {
  min-height: 80vh;
}

.rating span {
  margin: 0.1rem;
}

h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.4rem;
  padding: 0.5rem 0;
}

/*carousle*/
.carousel {
  background-image: linear-gradient(180deg, rgb(54, 53, 53), gray);
}
.carousel-item-next,
.carousel-item-prev,
.carousel-item-active {
  display: flex;
  justify-content: center;
}

.carousel-caption {
  position: absolute;
  margin: 0;
  top: 0;
}

.carousel-caption h2 {
  color: white;
}
.carousel img {
  width: 100% !important;
  height: 100% !important;
}
.carousel img {
  max-width: 500px;
  width: auto;
  padding: 5rem;
  margin: 1rem;
  border-radius: 50%;
  overflow: hidden;
}
